[submodule "external/nanovg"]
	path = external/nanovg
	url = https://github.com/memononen/nanovg
[submodule "external/FastNoise2"]
	path = external/FastNoise2
	url = https://github.com/Auburn/FastNoise2
[submodule "external/Nuklear"]
	path = external/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
[submodule "external/filesystem"]
	path = external/filesystem
	url = https://github.com/gulrak/filesystem
